<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_y2s2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/calories"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WaterCount"></activity>
        <activity android:name=".AddWater" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".delete"></activity>
        <activity android:name=".exercise_display"></activity>

        <activity android:name=".view_meal" />
        <activity android:name=".Add_Meal_2"></activity>
        <activity android:name=".exercise" />
        <activity android:name=".activity_calorieStatus" />
        <activity android:name=".activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Bmi"/>
        <activity android:name=".LoginUsers" ></activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".activity_statistics" />

 
        <activity android:name=".activity_total_food_calories_count" />
        <activity android:name=".AddMeal" />
        <activity android:name=".Update_meal" />
        <activity android:name=".UpdateActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>